html, body {
	height: 100%;
}
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: arial,sans-serif;
	text-align: center;
	color: #222;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -41px;
	padding-top: 40px;
}
#hplogo {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

#pic {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}
#pic img {
	max-width: 70%;
	max-height: 300px;
	box-shadow: 0 5px 35px rgba(0,0,0,.25);
	background: #ccc;
}

.query {
	background: #fff;
	background-clip: padding-box;
	border: 1px solid #cdcdcd;
	border-color: rgba(0,0,0,.15);
	height: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	width: 35px;
	outline: none;
	margin-right: 5px;
}
.query:hover {
	border-color: rgba(0,0,0,.3);
}
.query:focus {
	border-color: #4285f4;
}

#try {
	border: 1px solid transparent;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	height: 30px;
	margin: 0;
	outline: none;
	padding: 0 0;
	width: 100px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #4285f4;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	background: linear-gradient(top,#4387fd,#4683ea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=1);

	display: inline-block;
	font-weight: bold;
	line-height: 29px;
	min-width: 54px;
	text-align: center;
	text-decoration: none!important;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-user-select: none;

	color: white;
	cursor: pointer;
	position: relative;
	top: -1px;
}
.hint {
	background-color: #eee;
}

.button {
	margin: 16px 8px;

	border: 1px solid #dcdcdc;
	border-color: rgba(0,0,0,0.1);
	color: #444!important;
	font-size: 11px;
	background: #f5f5f5;
	background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background: linear-gradient(top,#f5f5f5,#f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5,endColorstr=#f1f1f1,GradientType=1);

	cursor: default!important;
	display: inline-block;
	font-weight: bold;
	height: 29px;
	line-height: 29px;
	min-width: 54px;
	padding: 0 8px;
	text-align: center;
	text-decoration: none!important;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-user-select: none;

	outline: none;
}
.button:hover {
	border-color: #c6c6c6;
	color: #222!important;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
	box-shadow: 0 1px 0 rgba(0,0,0,.15);
	background: #f8f8f8;
	background: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background: linear-gradient(top,#f8f8f8,#f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f8f8,endColorstr=#f1f1f1,GradientType=1);
}

#background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #222;
	opacity: 0.6;
	z-index: 8888;

	display: none;
}
.alert {
	background-color: #fbfbfb;
	border: 1px solid #AAA;
	border-bottom: 1px solid #888;
	border-radius: 3px;
	color: black;

	max-width: 350px;
	position: absolute;
	z-index: 9999;
	top: 30%;
	text-align: center;
	font-size: 20px;
	color: #666;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	padding: 15px;

	display: none;
}
.alert img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#social {
	position: absolute;
	width: auto;
	top: 0;
	left: 0;
	padding: 5px;
}
#social * {
	float: left;
}
footer, .push {
	height: 41px; /* '.push' must be the same height as 'footer' */
}
footer {
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
	font-size: small;
	color: #666;
}
footer a, footer span {
	color: #666;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}