$def with (rterm, imgUrl)

<!doctype html>
<html>
<head>
	<title>Google Image Quiz</title>
	<link rel="icon" type="image/png" href="static/google_favicon_128.png" />
	<meta content="static/google_favicon_128.png" itemprop="image">
	<meta name="description" content="Reverse engineering Google.">
	<meta name="keywords" content="google, quiz, fun, enjoy, trivia">
	<meta name="author" content="Silvio Lorusso">
	<meta name="nothingimportanttrustme" content="$rterm">

	<meta property="og:title" content="Google Image Quiz" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="See the image, guess the query." />
	<meta property="og:url" content="http://google-image-quiz.net/" />
	<meta property="og:image" content="http://google-image-quiz.net/static/og-image.png" />

	<script src="static/jquery-1.11.1.min.js"></script>
	<script src="static/quiz.js"></script>
	<link rel="stylesheet" type="text/css" href="static/style.css"/>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-17080297-57', 'google-image-quiz.net');
	  ga('send', 'pageview');
	</script>
</head>
<body>
	<div class="wrapper">
		<header>
			<a href="/">
				<div title="Google Image Quiz" id="hplogo"style="background:url(static/logo11w.png) no-repeat;background-size:269px 95px;height:95px;width:269px"><div nowrap="" style="color:#1370E5;font-size:16px;font-weight:bold;position:relative;right:115px;float:right;top:70px"><span>image quiz</span></div></div>
			</a>
		</header>
		<div id="pic">
			<a href="$imgUrl" target="_blank">
				<img src="$imgUrl" />
			</a>
		</div>
		<section>
			<p>Can you guess the Google query for the image above?</p>
			<form id="form">
				<button id="try"><span>Try Query</span></button>
			</form>
				<button class="button" id="hint" ><span>Hint</span></button>
				<button class="button" id="noluck" ><span>I’m Feeling Unlucky</span></button>
				<button class="button newpic"><span>Show New image</span></button>
		</section>
		<div class="push"></div>
	</div>
	<footer>
		<a href="http://silviolorusso.com/">Silvio Lorusso</a>, 2014
	</footer>

	<div id="background">
	</div>
	<div id="wrong" class="alert">
		<img src="static/sad.png">
		<span>Aw, snap! The query is wrong.</span>
	</div>
	<div id="correct" class="alert">
		<br/>
		Correct! You guessed the query in <span id="attempts"></span> using <span id="hints"></span>.<br/>
		<button class="button newpic" ><span>Show New image</span></button>
	</div>
	<div id="unlucky" class="alert">
		<img src="static/dino.png">
		<span>The query was:</span> “<span class="showQuery"></span>”<br/>
		<button class="button newpic" ><span>Show New image</span></button>
	</div>

	<script src="static/quiz.js"></script>
</body>
</html>
